{
	auto_https disable_redirects
	acme_ca https://dv.acme-v02.api.pki.goog/directory
	acme_eab {
		key_id 2239170893633a6f0b6b9a6c12f631d5
		mac_key 3qTX_vl64nYTCOXK-0Wqyxku9u_3WXPIn-GiusWBepRHekJRoPsIllDYOT6j_fObUG0ILrj7tVQExyqG4G_jEWY
	}
}

:80 {
	reverse_proxy web:80 {
        lb_try_duration 15s
        lb_try_interval 500ms
    }
}


https://kkutugame.kro.kr, https://kkutugameskorea.kro.kr {
	redir https://kkutugame.kr{uri} permanent
}
https://kkutugame.kr {
	handle_path /room/* {
		reverse_proxy game:8496 {
			header_up Host {http.request.host}
		}
	}
	handle_path /room2/* {
		reverse_proxy game2:8497 {
			header_up Host {http.request.host}
		}
	}
	handle_path /room3/* {
		reverse_proxy game3:8498 {
			header_up Host {http.request.host}
		}
	}
	handle_path /game/* {
		reverse_proxy game:8080 {
			header_up Host {http.request.host}
		}
	}
	handle_path /game2/* {
		reverse_proxy game2:8081 {
			header_up Host {http.request.host}
		}
	}
	handle_path /game3/* {
		reverse_proxy game3:8082 {
			header_up Host {http.request.host}
		}
	}
	handle {
		reverse_proxy web:80 {
        lb_try_duration 15s
        lb_try_interval 500ms
    }
	}
}

https://kkutugame.kr:8080, https://kkutugame.kro.kr:8080, https://kkutugameskorea.kro.kr:8080 {
	reverse_proxy game:8080 {
		header_up Host {http.request.host}
	}
}

https://kkutugame.kr:8081, https://kkutugame.kro.kr:8081, https://kkutugameskorea.kro.kr:8081 {
	reverse_proxy game2:8081 {
		header_up Host {http.request.host}
	}
}

https://kkutugame.kr:8082, https://kkutugame.kro.kr:8082, https://kkutugameskorea.kro.kr:8082 {
	reverse_proxy game3:8082 {
		header_up Host {http.request.host}
	}
}

https://kkutugame.kr:8496, https://kkutugame.kro.kr:8496, https://kkutugameskorea.kro.kr:8496 {
	reverse_proxy game:8496 {
		header_up Host {http.request.host}
	}
}

https://kkutugame.kr:8497, https://kkutugame.kro.kr:8497, https://kkutugameskorea.kro.kr:8497 {
	reverse_proxy game2:8497 {
		header_up Host {http.request.host}
	}
}

https://kkutugame.kr:8498, https://kkutugame.kro.kr:8498, https://kkutugameskorea.kro.kr:8498 {
	reverse_proxy game3:8498 {
		header_up Host {http.request.host}
	}
}
